header{
    height: 100px;
    width: 100%;
    background-color: #52B8AF;
    font-size: large;
    font-weight: 400;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.28);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.28);
    position: sticky;
    top:0;
    z-index: 3;
}