.sale{
    background-color: #EEFF66;
    border-radius: 15px;
    color: #52B8AF !important;
    display: flex;
    justify-content: center;
}

.nav-menu {
    text-decoration: none;
    color: #EEFF66;
    text-transform: uppercase;
}